In [3]:
import pandas as pd
import statistics as st
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset("iris")

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
df.isna()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [10]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
df.shape

(150, 5)

In [12]:
df.size

750

In [13]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [16]:
print("Unique Species:", df['species'].unique())

Unique Species: ['setosa' 'versicolor' 'virginica']

In [17]:
summary = df.groupby('species')['sepal_length'].describe()

In [18]:
print(summary)

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [19]:
def custom_describe(x):
    mode_value = st.mode(x)
    median_value = np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),mode_value,median_value,x.min(),x.max()])
    index=['count','mean','std','mode','median','min','max']

In [20]:
summary_with_mode_median = df.groupby('species')['sepal_length'].apply(custom_describe)
print(summary_with_mode_median)

species
setosa      0    50.000000
            1     5.006000
            2     0.352490
            3     5.100000
            4     5.000000
            5     4.300000
            6     5.800000
versicolor  0    50.000000
            1     5.936000
            2     0.516171
            3     5.500000
            4     5.900000
            5     4.900000
            6     7.000000
virginica   0    50.000000
            1     6.588000
            2     0.635880
            3     6.300000
            4     6.500000
            5     4.900000
            6     7.900000
Name: sepal_length, dtype: float64

In [21]:
mode_summary = df.groupby('species')['sepal_length'].apply(lambda x: st.mode(x))
print("Mode:")
print(mode_summary)

Mode:
species
setosa        5.1
versicolor    5.5
virginica     6.3
Name: sepal_length, dtype: float64

In [23]:
median_summary = df.groupby('species')['sepal_length'].median()
print("Median: ")
print(median_summary)

Median:
species
setosa        5.0
versicolor    5.9
virginica     6.5
Name: sepal_length, dtype: float64

In [24]:
mean_summary = df.groupby('species')['sepal_length'].mean()
print("Mean: ")
print(mean_summary)

Mean:
species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [25]:
species_numeric_value = df.groupby('species').size().tolist()
print(species_numeric_value)

[50, 50, 50]

In [28]:
setosa_stats = df[df['species']=='setosa'].describe()
versicolor_stats = df[df['species']=='versicolor'].describe()
virginica_stats = df[df['species']=='virginica'].describe()
#print the statistics

print("Setosa statistics:")
print(setosa_stats)
print("\nVersicolor statistics: ")
print(versicolor_stats)
print("\nVirginica statistics:")
print(virginica_stats)

Setosa statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

Versicolor statistics:
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Virginica statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000