In [27]:
import pandas as pd
import statistics as st
import numpy as np

In [2]:
df = pd.read_csv(r"C:\\Users\\omkar\\Downloads\\College_pitures\\iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
df.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [8]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [9]:
df.shape

(150, 6)

In [10]:
df.size

900

In [13]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [14]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [15]:
print("Unique Species:", df['Species'].unique())

Unique Species: ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [18]:
summary = df.groupby('Species')['SepalLengthCm'].describe()

In [19]:
print(summary)

                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [20]:
def custom_describe(x):
    mode_value = st.mode(x)
    median_value = np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),mode_value,median_value,x.min(),x.max()])
    index=['count','mean','std','mode','median','min','max']

In [28]:
summary_with_mode_median = df.groupby('Species')['SepalLengthCm'].apply(custom_describe)
print(summary_with_mode_median)

Species
Iris-setosa      0    50.000000
                 1     5.006000
                 2     0.352490
                 3     5.100000
                 4     5.000000
                 5     4.300000
                 6     5.800000
Iris-versicolor  0    50.000000
                 1     5.936000
                 2     0.516171
                 3     5.500000
                 4     5.900000
                 5     4.900000
                 6     7.000000
Iris-virginica   0    50.000000
                 1     6.588000
                 2     0.635880
                 3     6.300000
                 4     6.500000
                 5     4.900000
                 6     7.900000
Name: SepalLengthCm, dtype: float64

In [30]:
mode_summary = df.groupby('Species')['SepalLengthCm'].apply(lambda x: st.mode(x))
print("Mode:")
print(mode_summary)

Mode:
Species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: SepalLengthCm, dtype: float64

In [31]:
median_summary = df.groupby('Species')['SepalLengthCm'].median()
print("Median: ")
print(median_summary)

Median:
Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [32]:
mean_summary = df.groupby('Species')['SepalLengthCm'].mean()
print("Mean: ")
print(mean_summary)

Mean:
Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [33]:
species_numeric_value = df.groupby('Species').size().tolist()
print(species_numeric_value)

[50, 50, 50]

In [36]:
setosa_stats = df[df['Species']=='Iris-setosa'].describe()
versicolor_stats = df[df['Species']=='Iris-versicolor'].describe()
virginica_stats = df[df['Species']=='Iris-virginica'].describe()
#print the statistics

print("Setosa statistics:")
print(setosa_stats)
print("\nVersicolor statistics: ")
print(versicolor_stats)
print("\nVirginica statistics:")
print(virginica_stats)

Setosa statistics:
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Versicolor statistics:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Virginica statistics:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000