
Descriptive Statistics - Measures of Central Tendency 
and variability 
Perform the following operations on any open source dataset 
(e.g., data.csv) 
1. Provide summary statistics (mean, median, 
minimum, maximum, standard deviation) for a 
dataset (age, income etc.) with numeric variables 
grouped by one of the qualitative (categorical) 
variable. For example, if your categorical variable is 
age groups and quantitative variable is income, then 
provide summary statistics of income grouped by the 
age groups. Create a list that contains a numeric 
value for each response to the categoricalvariable. 
2. Write a Python program to display some basic 
statistical details like percentile, mean, standard 
deviation etc. of the species of ‘Iris-setosa’, ‘Iris- 
versicolor’ and ‘Iris-versicolor’of iris.csv dataset. 
Provide the codes with outputs and explain everything that 
you do in this step

In [2]:
import pandas as pd
import statistics as st
import numpy as np

In [3]:
df = pd.read_csv("IRIS.csv")

DATA PREPROCESSING

Exploratory data analysis

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width      species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [9]:
df.shape

(150, 5)

In [10]:
df.size

750

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [13]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
df.ndim

2

In [15]:
summary = df.groupby('species')['sepal_length'].describe()

In [16]:
print(summary)

                 count   mean       std  min    25%  50%  75%  max
species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

Custom summary of data stats: Median, mode

In [18]:
def custom_describe(x):
    mode_value = st.mode(x)
    median_value = np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),mode_value,median_value,x.min(),x.max()])
    index=['count','mean','std','mode','median','min','max']

In [20]:
summary_with_mode_median = df.groupby('species')['sepal_length'].apply(custom_describe)
print(summary_with_mode_median)

species
Iris-setosa      0    50.000000
                 1     5.006000
                 2     0.352490
                 3     5.100000
                 4     5.000000
                 5     4.300000
                 6     5.800000
Iris-versicolor  0    50.000000
                 1     5.936000
                 2     0.516171
                 3     5.500000
                 4     5.900000
                 5     4.900000
                 6     7.000000
Iris-virginica   0    50.000000
                 1     6.588000
                 2     0.635880
                 3     6.300000
                 4     6.500000
                 5     4.900000
                 6     7.900000
Name: sepal_length, dtype: float64

MODE SUMMARY

In [21]:
mode_summary = df.groupby('species')['sepal_length'].apply(lambda x: st.mode(x))
print("Mode:")
print(mode_summary)

species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: sepal_length, dtype: float64

MEDIAN SUMMARY

In [22]:
median_summary = df.groupby('species')['sepal_length'].median()
print("Median: ")
print(median_summary)

Median:
species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: sepal_length, dtype: float64

MEAN SUMMARY

In [23]:
mean_summary = df.groupby('species')['sepal_length'].mean()
print("Mean: ")
print(mean_summary)

Mean:
species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepal_length, dtype: float64

GROUPING ACCORDING TO THE SPECIES

In [24]:
species_numeric_value = df.groupby('species').size().tolist()
print(species_numeric_value)

[50, 50, 50]

In [ ]:
species_stats = df.groupby('species').describe()
print(species_stats)

PRINTING THE SUMMARY FOR EACH OF THE SPECIES

In [27]:
setosa_stats = df[df['species']=='Iris-setosa'].describe()
versicolor_stats = df[df['species']=='Iris-versicolor'].describe()
virginica_stats = df[df['species']=='Iris-virginica'].describe()
#print the statistics

print("Setosa statistics:")
print(setosa_stats)
print("\nVersicolor statistics: ")
print(versicolor_stats)
print("\nVirginica statistics:")
print(virginica_stats)

Setosa statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Versicolor statistics:
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Virginica statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000